mixin b_header()
	+b("header").header
		+b("nav").menu
			//- +e("a").logo._great(href="")
			//- 	img(src="img/logo.png" alt="logo")
			+e("ul").list
				each item in [{title: "About Us", url: "/"}, {title: "Galery", url: "/"}, {title: "Servicas", url: "/"}, {title: "Contacts", url: "/"}]
					+e("li").item
						+e("a").link(href="#")= item.title
						


